
<h3>new post</h3>

<div id='new_post_pane'>
  <input type='text' id='new_post_message'
         name='new_post[message]'>
  <input type='button'
         id='save_new_post_button'
         value='save'>
</div>




<h3>posts</h3>

<div id='posts_pane'>
  <ul id='post_entries_news'>
  </ul>
  <ul id='post_entries'>
  </ul>
</div>


<div id='post_load_more' class='ajax_load_button'>
  [더 불러오기]
</div>

<div id='posts_loader' class='ajax_loader'>
  <img src='/images/load.gif'>
</div>

